
.uploader__uploaded-file-container{
    border-radius: 10px;
    background-color: var(--chakra-colors-gray-50);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
}
.uploader__uploaded-file-container:hover{
    background-color: var(--chakra-colors-gray-100);
}
.uploader__files-input-label{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}
.uploader__img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: relative;
    border-radius: 10px;
}
.uploader__icon{
    position: absolute;
    font-size: 24px;
}
.uploader__text{
    position: absolute;
}

.uploader__uploaded-file-container:hover  .uploader__img{
    filter: brightness(65%);
    
}
.uploader__icons-container > *{
    display: none;
}
.uploader__uploaded-file-container:hover  .uploader__icons-container > *{
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    display: block;
    background-color: var(--chakra-colors-gray-50);
    
}
.uploader__icons-container{
    font-size: 32px;
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

